<main class="container">
  <div class="side-menu">
    <div class="side-menu__categories">
      <h3 class="side-menu__title">Categories</h3>
      <ul class="side-menu__list-of-categories">
        <li>
          <a [routerLink]="['/catalog/'+ type + '/' + 'view-all']">view all</a>
        </li>
        <li *ngFor="let category of categories">
          <a [routerLink]="['/catalog/'+ type + '/' + category.name]">{{ category.name }}</a>
        </li>
      </ul>
    </div>
    <div class="side-menu__filters" *ngIf="filters.length">
      <h5>Filters</h5>
      <mat-accordion multi>
        <mat-expansion-panel [togglePosition]="'before'" class="mat-elevation-z0"
          *ngFor="let filter of filters; trackBy: trackByFn">
          <mat-expansion-panel-header style="padding-left: .6em;" [collapsedHeight]="'35px'" [expandedHeight]="'35px'"
            [expanded]="true">
            <mat-panel-title style="font-size: .7rem;">
              {{ filter.name | uppercase}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="side-menu__checkbox-block">
            <mat-checkbox [checked]='cr.active' color='primary' (change)="setFilterChange(cr, filter)"
              *ngFor="let cr of filter.criteria; ">{{ cr.name }}</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="side-menu__sort">
      <span>Sort:</span>
    </div>
  </div>
  <div class="products-list">
    <router-outlet></router-outlet>
  </div>
</main>
