<div class="container">
  <h2 *ngIf="!searchIsEmpty">SHOWING RESULTS FOR "{{ searchWord || defaultName }}" </h2>
  <div class="products" *ngIf="products.length && !searchIsEmpty">
    <div class="products__row">
      <div class="products__product" *ngFor="let product of products | paginate: { itemsPerPage: countOfPages, currentPage: p }">
        <a [routerLink]="['/product/'+ product.category, product.id]">
          <img class="animate-hover-img" appImgHover [imgH]="product.images[0].images[1]"
            [lazyLoad]="product.images[0].images[0]" [defaultImage]='defaultImg' [alt]="product.name">
        </a>

        <div class="products__info">
          <h4>{{ product.name }}</h4>
          <div class="products__colors">
            <div style="display: flex;">
              <span class="products__color" [ngStyle]="{'background-color': color.color.colorHex}"
                *ngFor="let color of product.images"></span>
            </div>
            <div><span *ngIf="product.isNewArrivals">New arrivals</span></div>
          </div>
          <div class="products__price">
            <span [ngClass]="{'last-price': product.isSale}">USD ${{ product.price | number:"1.2-2" }}</span>
            <span class="discount-price" *ngIf="product.isSale">USD
              ${{ product.sale.priceWithDiscount | number:"1.2-2" }}</span>
            <span class="discount" *ngIf="product.isSale">-{{ product.sale.percents }} </span>
          </div>
        </div>

      </div>

    </div>

    <div class="shop-pagination">
      <div class="count-of-items">
        <div class="count-control">
          <input type="radio" value="6" name="countOfPage" id="count-6" [checked]="countOfPages === 6"
            (change)="changeCountOfItems($event)">
          <label for="count-6">6</label>
        </div>
        <div class="count-control">
          <input type="radio" value="10" name="countOfPage" id="count-10" [checked]="countOfPages === 10"
            (change)="changeCountOfItems($event)">
          <label for="count-10">10</label>

        </div>
        <div class="count-control">
          <input type="radio" value="20" name="countOfPage" id="count-20" [checked]="countOfPages === 20"
            (change)="changeCountOfItems($event)">
          <label for="count-20">20</label>
        </div>
        <div class="count-control">
          <input type="radio" value="40" name="countOfPage" id="count-40" [checked]="countOfPages === 40"
            (change)="changeCountOfItems($event)">
          <label for="count-40">40</label>
        </div>
      </div>
      <pagination-controls class="shop-pagination" (pageChange)="pageChanged($event)" responsive="true" maxSize="5"
        previousLabel="" nextLabel="">

      </pagination-controls>
    </div>
  </div>

  <div *ngIf="searchIsEmpty" class="empty">
    <h2>NO MATCHING ITEMS</h2>
    <h4>Your search "{{ searchWord || defaultName }}" did not match any results</h4>
  </div>


</div>
