<div class="products">
  <div class="products__row">
    <ng-container *ngIf="loading; else elseTemplate">
      <div class="image__loading-wrapper">
        <img class="image__loading" src="https://media.giphy.com/media/PUYgk3wpNk0WA/giphy.gif"  alt="">
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="products.length; else doNotFound">
        <div class="products__col"
          *ngFor="let product of products | paginate: { itemsPerPage: countOfPages, currentPage: p }">
          <div class="products__items-wrapper">
            <a class="products__item" [routerLink]="['/product/'+ product.category, product.id]">
              <img class="animate-hover-img" appImgHover [imgH]="product.images[0].images[1]"
                 [lazyLoad]="product.images[0].images[0]" [defaultImage]='defaultImg' [alt]="product.name">
            </a>
            <a class="products__favorite" (click)="addToFavorites(product)">
              <mat-icon [ngStyle]="{'color': isRedHeart(product) ? '#c40000' : 'white' }">
                {{ isRedHeart(product) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </a>
          </div>
          <div class="products__info">
            <h4>{{ product.name }}</h4>
            <div class="products__colors">
              <div style="display: flex;">
                <span class="products__color" [ngStyle]="{'background-color': color.color.colorHex}"
                  *ngFor="let color of product.images"></span>
              </div>
              <div><span *ngIf="product.isNewArrivals">New arrivals</span></div>
            </div>
            <div class="products__price">
              <span [ngClass]="{'last-price': product.isSale}">USD ${{ product.price | number:"1.2-2" }}</span>
              <span class="discount-price" *ngIf="product.isSale">USD
                ${{ product.sale.priceWithDiscount | number:"1.2-2" }}</span>
              <span class="discount" *ngIf="product.isSale">-{{ product.sale.percents }} </span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #doNotFound >
        <div class="not-found-block">
          <h2>Products not found</h2>
        </div>
      </ng-template>
    </ng-template>

  </div>

  <div class="shop-pagination" *ngIf="products.length && showPagination">
    <div class="count-of-items">
      <div class="count-control">
        <input type="radio" value="6" name="countOfPage" id="count-6" [checked]="countOfPages === 6"
          (change)="changeCountOfItems($event)">
        <label for="count-6">6</label>
      </div>
      <div class="count-control">
        <input type="radio" value="10" name="countOfPage" id="count-10" [checked]="countOfPages === 10"
          (change)="changeCountOfItems($event)">
        <label for="count-10">10</label>

      </div>
      <div class="count-control">
        <input type="radio" value="20" name="countOfPage" id="count-20" [checked]="countOfPages === 20"
          (change)="changeCountOfItems($event)">
        <label for="count-20">20</label>
      </div>
      <div class="count-control">
        <input type="radio" value="40" name="countOfPage" id="count-40" [checked]="countOfPages === 40"
          (change)="changeCountOfItems($event)">
        <label for="count-40">40</label>
      </div>
    </div>
    <pagination-controls class="shop-pagination" (pageChange)="pageChanged($event)" responsive="true" maxSize="5"
      previousLabel="" nextLabel="">

    </pagination-controls>
  </div>
</div>
