.container {
  width: 100%;
}
.product-details {
  display: flex;
  &__img-wrapper {
    width: 75%;
    img {
      width: 50%;
      max-height: 1000px;
      object-fit: cover;
      object-position: center;
    }
    img + img {
      border-left: 1px solid rgb(255, 255, 255);
    }
  }

  &__details {
    width: 25%;
    padding: 3em 4em;
  }

  &__title {
    h2 {
      font-size: 1.2rem;
      color: rgb(26, 25, 25);
      letter-spacing: 0.05em;
      // text-align: center;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 0.8rem;
      font-family: helvetica-p, Arial, Helvetica, sans-serif;
    }
    .last-price {
      text-decoration: line-through;
    }
    .discount {
      padding: 0.5em 0.7em;
      color: rgb(255, 255, 255);
      background-color: rgb(196, 0, 0);
    }

    .discount-price {
      color: rgb(196, 0, 0);
    }
  }

  &__subtitle {
    color: rgb(223, 223, 223);
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__color-radio {
    margin-top: 1.3em;

    h5 {
      color: rgb(134, 134, 134);
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .control-wrapper {
      display: flex;
    }
    .color-control {
      input[type="radio"] {
        display: none;
      }
      label {
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
        box-shadow: 0 0 0 1px rgb(196, 196, 196);
      }
      input[type="radio"]:checked ~ label {
        box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px rgb(0, 0, 0);
      }
    }
    .color-control + .color-control {
      margin-left: 0.4em;
    }
  }

  &__size-radio {
    margin-top: 1.3em;
    h5 {
      color: rgb(134, 134, 134);
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    .control-wrapper {
      display: flex;
    }
    .size-control {
      input[type="radio"] {
        display: none;
      }
      label {
        text-transform: uppercase;
        padding: 0 0.4em 0.4em;
        font-size: 0.9rem;
        font-family: helvetica-p, Arial, Helvetica, sans-serif;
        color: rgb(109, 109, 109);
        cursor: pointer;
        position: relative;
        transition: all 0.4s ease-in-out;
      }
      input[type="radio"]:checked ~ label::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5px;
        width: 100%;
        background-color: black;
      }
    }
    .size-control + .size-control {
      margin-left: 0.4em;
    }
  }

  &__buttons-wrapper {
    margin-top: 3.5em;
    display: flex;
  }
  &__add-to-bag-btn,
  &__add-to-favorite-btn {
    button {
      background-color: black;
      color: white;
      font-family: helvetica-p, Arial, Helvetica, sans-serif;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }
  &__add-to-bag-btn {
    button {
      font-size: 1.1rem;
      width: 200px;
      padding: 1.2em 1.4em;
    }
  }

  &__add-to-favorite-btn {
    button {
      height: 100%;
      padding: 0 1.2em;
    }
  }
}
.panel-wrapper {
  margin-top: 2em;
}
