<div class="container">
  <div class="sidebar">
    <mat-card class="sidebar__card">
      <button class="btn-width" mat-raised-button [routerLink]="['/admin/category']" routerLinkActive="mat-primary">
        category
      </button>
      <button class="btn-width" mat-raised-button [routerLink]="['/admin/catalog']" routerLinkActive="mat-primary">
        catalog
      </button>
      <button class="btn-width" mat-raised-button [routerLink]="['/admin/filters']" routerLinkActive="mat-primary">
        filters
      </button>
      <button class="btn-width" mat-raised-button [routerLink]="['/admin/orders']" routerLinkActive="mat-primary">
        orders
      </button>
      <button class="btn-width" mat-raised-button [routerLink]="['/admin/news']" routerLinkActive="mat-primary">
        news
      </button>
      <button mat-stroked-button color='warn' class="sign-out-btn btn-width" (click)="auth.singOut()">
        sing out
      </button>
    </mat-card>
  </div>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
