<div class="home">
  <section class="home__section" style="margin-top: -54px;">
    <div class="home__info">
      <div class="home__info-title">
        <h4>NEW COLLECTIONS</h4>
      </div>
      <div class="home__info-description">
        <p>
          Our easiest chuck-on-and-go staples come with a serious style heritage that’s liberating, sexy, comfy and
          supremely cool.
        </p>
      </div>
      <div class="home__info-bnt-wrapper">
        <button class="home__info-btn" [routerLink]="['/catalog/new-arrivals']"  matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'">SHOP NEW ARRIVALS</button>
      </div>
    </div>
  </section>
  <section class="home__section">
    <div class="home__info">
      <div class="home__info-title">
        <h4>VINTAGE INSPIRED</h4>
      </div>
      <div class="home__info-description">
        <p>
          Inspired by the ‘70s and 80’s), we know that if you sift through our vintage inspired collection you’re
          gonna
          rock the perfect silhouette.
        </p>
      </div>
      <div class="home__info-bnt-wrapper">
        <button class="home__info-btn" [routerLink]="['/catalog/shop']" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'">SHOP NOW</button>
      </div>
    </div>
  </section>
  <div class="collections">
    <div class="col">
      <a>
        <img
          src="https://lp2.hm.com/hmgoepprod?set=quality[79],source[/ff/af/ffafdf814691d1aaed2677fa6a0eb5ddb46c52d5.jpg],origin[dam],category[ladies_knitwear_jumpers],type[LOOKBOOK],res[m],hmver[2]&call=url[file:/product/main]"
          alt="">
      </a>
    </div>
    <div class="col">
      <a>
        <img
          src="http://lp2.hm.com/hmgoepprod?set=quality[79],source[/5e/b9/5eb94328b3e26220908489454ed7f68d586ddda5.jpg],origin[dam],category[ladies_knitwear_turtlenecks],type[LOOKBOOK],res[m],hmver[1]&call=url[file:/product/main]"
          alt="">
      </a>
    </div>
    <div class="col">
      <a>
        <img
          src="https://lp2.hm.com/hmgoepprod?set=quality[79],source[/80/92/80926e7dfb64490b009aa7986271960f5b41c739.jpg],origin[dam],category[ladies_knitwear_turtlenecks],type[LOOKBOOK],res[w],hmver[5]&call=url[file:/product/main]"
          alt="">
      </a>
    </div>
  </div>
  <section class="home__section">
    <div class="home__info">
      <div class="home__info-title">
        <h4>SUSTAINABLE DENIM</h4>
      </div>
      <div class="home__info-description">
        <p>
          What started as a true ‘80s vintage pair of jeans, finished as a re-energised, wider leg vintage jean with
          versatile detailing.
        </p>
      </div>
      <div class="home__info-bnt-wrapper">
        <button class="home__info-btn" [routerLink]="['/catalog/shop']" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'">SHOP DENIM</button>
      </div>
    </div>
  </section>

  <section class="carousel">
    <p class="carousel__subtitle">NEW ARRIVALS</p>
    <carousel style="padding: 0;" height=650 [autoplay]="true" [loop]="true" [cellsToShow]="getCellCount()"
      [overflowCellsLimit]='0' [margin]='0'>
      <div class="carousel-cell" *ngFor="let img of images">
          <img [src]="img" style=" object-fit: cover; object-position: center;">
          <div class="carousel__btn-wrapper">
            <button class="carousel__btn" [routerLink]="['/catalog/new-arrivals']"  matRipple [matRippleColor]="'rgba(00, 00, 00, 0.1)'">SHOW</button>
          </div>
      </div>
    </carousel>
  </section>

   <section class="home__section">
    <div class="home__info">
      <div class="home__info-title">
        <h4>HIGH DISCOUNTS</h4>
      </div>
      <div class="home__info-description">
        <p>
          What started as a true ‘80s vintage pair of jeans, finished as a re-energised, wider leg vintage jean with
          versatile detailing.
        </p>
      </div>
      <div class="home__info-bnt-wrapper">
        <button class="home__info-btn" [routerLink]="['/catalog/sale']" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'">SALE IS HERE</button>
      </div>
    </div>
  </section>
</div>

