<div class="profile">
  <div class="profile__side-menu">
    <div class="profile__menu">
      <h3>
        My data
      </h3>
      <ul>
        <li>
          <a [routerLink]="['/profile/my-information']" routerLinkActive='active'>My information</a>
        </li>
        <li>
          <a [routerLink]="['/profile/my-orders']" routerLinkActive='active'>My orders</a>
        </li>

      </ul>
    </div>

    <button class="profile__sign-out" matRipple [matRippleColor]="'rgba(00, 00, 00, 0.1)'" (click)="signOut()">Sign
      out</button>
  </div>
  <div class="profile__content">
    <router-outlet></router-outlet>
  </div>
</div>
