/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "helvetica-h";
  src: url("assets/fonts/HelveticaNeueLTStd-MdEx.otf");
}
@font-face {
  font-family: "helvetica-p";
  src: url("assets/fonts/HelveticaNeueLTStd-LtEx.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
span,
small,
li {
  font-family: "helvetica-p", sans-serif, Arial;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
input {
  font-family: "helvetica-h", sans-serif, Arial;
  font-size: 16px;
}
body {
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  font-family: "helvetica-h", sans-serif, Arial;
  text-transform: uppercase;
}

input {
  border: 0;
  outline: none;
  background-color: transparent;
}

.animate-hover-img {
  animation: img-hover 1s ease-in-out 1;
}

.carousel {
  width: 100%;
  padding: 40px 80px;

  &__title {
    font-size: 1rem;
    font-family: helvetica-h;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1rem;
    font-family: helvetica-h;
    margin-bottom: 1.3em;
  }

  &__btn-wrapper {
    position: absolute;
    z-index: 100001;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
  &__btn {
    box-shadow: 0 0 0 1px #202020;
    padding: 1em 1.4em;
    background-color: #ffffff7e;
    transition: all 0.4s ease;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 1px #000000;
      background-color: #ffffff8f;
    }
  }
}

@media screen and (max-width: 1200px) {

  .carousel {
    width: 100%;
    padding: 20px 40px;

    &__subtitle {
      margin-bottom: 1.1em;
    }
  }

}
@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    padding: 0.7em;

    &__subtitle {
      margin-bottom: 1em;
    }
    img {
      object-fit: 100% 100%;
    }
  }

}

