/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: "helvetica-h";
  src: url("assets/fonts/HelveticaNeueLTStd-MdEx.otf");
}
@font-face {
  font-family: "helvetica-p";
  src: url("assets/fonts/HelveticaNeueLTStd-UltLt.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


p,
span,
small {
  font-family: "helvetica-p", sans-serif, Arial;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,a {
  font-family: "helvetica-h", sans-serif, Arial;
  font-size: 16px;
}
body {
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  font-family: "helvetica-h", sans-serif, Arial;
}
