.container {
  width: 100%;
}
.bag {
  width: 600px;
  margin: 1em auto;
  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #bdbdbd;
  }
  &__title {
    h2 {
      margin: 0;
    }
    margin-right: 1em;
  }

  &__count {
    font-size: 0.8rem;
    color: #bdbdbd;
  }

  &__body {
  }

  &__footer {
    margin-top: 2em;
    h3 {
      font-size: 1.2rem;
      text-transform: none;
      text-align: center;
    }
  }
  &__empty {
    padding: 7em 0;
    h2 {
      text-align: center;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }
  &__checkout-btn {
    background-color: black;
    padding: 1em 1.5em;
    color: white;
    transition: opacity 0.3s ease-in-out;
    letter-spacing: 0.05em;
    font-family: helvetica-p, Arial, Helvetica, sans-serif;
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:disabled {
      cursor: no-drop;
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 650px) {
  .bag {
    width: 93%;
  }
}
