<div class="container">
  <div class="bag">
    <div class="bag__header">
      <div class="bag__title">
        <h2>bag</h2>
      </div>
      <div class="bag__count"> {{ countItems }} items</div>
    </div>

    <div class="bag__body ">
      <ng-container *ngIf="bag && bag.length; else empty">
        <div class="body-info" *ngFor="let product of bag; index as i">
          <div class="body-info__body">
            <div class="body-info__img-wrapper">
              <img [src]="product.images.images[0]" [alt]="product.name">
            </div>

            <div class="body-info__description">
              <h3 class="body-info__name">{{ product.name }}</h3>
              <div class="body-info__price">
                <span [ngClass]="{'last-price': product.isSale}">USD ${{ product.price | number:"1.2-2" }}</span>
                <span class="discount-price" *ngIf="product.isSale">USD
                  ${{ product.sale.priceWithDiscount | number:"1.2-2" }}</span>
                <span class="discount" *ngIf="product.isSale">-{{ product.sale.percents }} </span>
              </div>
              <p style="margin-bottom: 1em;" *ngIf="product.count > 1">
                total usd $
                {{ product.totalPrice | number:"1.2-2" }}
              </p>
              <p>color: {{ product.images.color.colorName }}</p>
              <p>size: {{ product.size }}</p>
              <div class="body-info__set-count">
                <span>Quantity: <b>{{ product.count }}</b></span>
                <button (click)="incrementAndDecrement(product, false)">
                  <mat-icon [inline]="true" style="font-size: 1.1rem;">remove</mat-icon>
                </button>
                <button (click)="incrementAndDecrement(product)">
                  <mat-icon [inline]="true" style="font-size: 1.1rem;">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="body-info__footer">
            <div class="body-info__button-wrapper">
              <button class="body-info__btn-remove" (click)="removeBagProduct(i)">
                <mat-icon> clear </mat-icon>
                <span>remove</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="bag__empty">
          <h2>Your bag is empty</h2>
        </div>
      </ng-template>

    </div>

    <div class="bag__footer">
      <h3>Total USD ${{ totalPrice | number:"1.2-2" }}</h3>
      <div class="bag__btn-wrapper">
        <button class="bag__checkout-btn" matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'"
        [disabled]="!bag || !bag.length">
          proceed to checkout</button>
      </div>
    </div>
  </div>
</div>
